body {
  background-color:rebeccapurple;
  height: 100%;
  /* font-family: 'Rowdies', cursive;
  font-size: 100px;
  color: white; */
}
div.main-container {
  border: 2px solid red;
}
header,
main {
  border: 2px solid white;
  height: 400px;
}
